# Correlation Between anti-lgbtq/anti-transgender hatecrimes and legislation passed
* Where did we get this data?
    1. FBI hate crimes database from this link: 
        https://cde.ucr.cjis.gov/
    2. ACLU's legislation tracker from this link: 
        https://www.aclu.org/legislation-affecting-lgbtq-rights-across-country-2021
* Defintions we must make: 
    * for more inforamtion about what classifies as a hatecrime in addition to how data collection was made, please refer to the fbi database linked above
    * in addition we must clarify the defintion for religious exemption bills:
        - these bills allow the exemption of discrimination based on the belief of religion, for example: a woman was fired from work because of religious exemption, being she was pregnant before getting married, not abiding to organization's religious beliefs
    * bills preempting protection:
        - according to the ACLU, 'These bills prevent cities and other local government entities from passing nondiscrimination protections that are more expansive than the protections offered at the state level, including protections for LGBTQ people.'
* Possible predictor values: 
    1. number of legislation passed (maybe per state)
    2. state
* Possible Response values:
    1. hatecrime incidents/offenses
* Data Table Variable Names:
    * crimesByBias <- fbi table 1 hate crimes by bias, basically summarizes number of offenses/victims with bias incidents
        * more notes: 
        * "1 The term victim may refer to an individual, business/financial institution, government entity, religious organization, or society/public as a whole.",,,,
        * "2 The term known offender does not imply the suspect's identity is known; rather, the term indicates some aspect of the suspect was identified, thus distinguishing the suspect from an unknown offender.",,,,
        * 3 A multiple-bias incident is an incident in which one or more offense types are motivated by two or more biases.,,,,

    * typeOfCrime <- type of crimes committed upon each bias group (ex: assault, manlsaughter, rape, intimidation, etc. 
        * 1 The figures shown include additional offenses collected in the National Incident-Based Reporting System. See the downloadable Methodology file for further explanation.															
        * 2 A multiple-bias incident is an incident in which one or more offense types are motivated by two or more biases.
    * crimeVictims <- shows types of victims (adult/juvenile), and number of victims per crime
        * 1 The term victim may refer to an individual, business/financial institution, government entity, religious organization, or society/public as a whole.																	
        * 2 The figures shown are individual victims only.																	
        * 3 The figures shown include additional offenses collected in the National Incident-Based Reporting System. See the downloadable Methodology file for further explanation.																	
        * 4 A multiple-bias incident is an incident in which one or more offense types are motivated by two or more biases.																	
        * Note: The aggregate of adult and juvenile individual victims does not equal the total number of victims because total victims include individuals, businesses/financial institutions, government entities, religious organizations, and society/public as a whole. In addition, the aggregate of adult and juvenile individual victims does not equal the aggregate of victims of crimes against persons because not all law enforcement agencies report the ages of individual victims.
    * crimeLocation <- shows location of where the crime happened (on school grounds, public, business, etc)
        * 1 A multiple-bias incident is an incident in which one or more offense types are motivated by two or more biases.								
        * 2 The location designation School/college has been retained for agencies that have not updated their records management systems to include the new location designations of Schoolâ€”college/university and Schoolâ€”elementary/secondary, which allow for more specificity in reporting.	
    * crimeState <- shows crime by state and city
        * 1 Population figures are published only for the cities. The figures listed for the universities and colleges are student enrollment and were provided by the United States Department of Education for the 2020 school year, the most recent available. The enrollment figures include full-time and part-time students.													
        * 2 The figures shown include one incident reported with more than one bias motivation.													
        * 3 Student enrollment figures were not available.
    * antiLgbtq <- shows amount of anti-LGBTQ and trans laws 
    * religiousExemption <- shows amount of bills passed from relgiious exemption (see definition above)
    * preemptingProtection <- shows amount of bills preempting LGBTQ protection (see definition above) 
    * lgbtqEquality <- shows bills passed to protect LGBTQ rights

In [2]:
#variable names
crimesByBias <- read.csv('fbit1crimesByBias.csv')
typeOfCrime <- read.csv('fbit4crimesByBiasMotivation.csv')
crimeVictims <- read.csv('fbit7_Victims_Offense_Type_by_Bias_Motivation_2021.csv')
crimeLocation <- read.csv('fbit10incidents_Bias_Motivation_by_Location_2021.csv')
crimeTypeByState <-read.csv('fbit11crimeTypeByState.csv')
crimeState <- read.csv("fbit13_Hate_Crime_Incidents_per_Bias_Motivation_and_Quarter_by_State_Federal_and_Agency_2021.csv")
antiLgbtq <-  read.csv('AntiLGBTQ.csv')
religiousExemption <- read.csv('ReligiousExemptionBills.csv')
preemptingProtection <- read.csv('BillsPreemptingProtection.csv')
lgbtqEquality <- read.csv('LGBTQEquality.csv')

In [3]:
#cleaning data frames KIND OF
# Fbi data
crimesByBias <- data.frame(c=crimesByBias)
colnames(crimesByBias) <-c('Bias_Motivation','Incidents','Offenses','Victims','Known_Offenders')
typeOfCrime <- data.frame(c=typeOfCrime)
colnames(typeOfCrime) <-c('Bias_Motivation','Total_Offenses','Murder_and_nonnegligent_manslaughter',
                          'Rape','Aggravated_Assault','Simple Assault','Intimidation','Other','Robbery', 'Burgalry', 
                          'Larceny','Motor_Vehicle_Theft', 'Arson','Destruction/Damage/Vandalism','Other','Crimes_against_society')
typeOfCrime<- typeOfCrime[6:47,]
crimeVictims <- data.frame(c=crimeVictims)
colnames(crimeVictims) <- c('Bias_Motivation','Total_Victims','Total_Adult_Victims','Total_Juvenile_Victims',
                            'Murder_and_nonnegligent_manslaughter','Rape','Aggravated_Assault','Simple Assault','Intimidation','Other','Robbery', 'Burgalry', 
                          'Larceny','Motor_Vehicle_Theft', 'Arson','Destruction/Damage/Vandalism','Other','Crimes_against_society')
crimeVictims <- crimeVictims[6:48,]
crimeLocation <- data.frame(c=crimeLocation)
colnames(crimeLocation) <- c('Location','Total_Incidents','Race/Ethnicity/Ancestry','Religion',
                             'Sexual_Orientation','Disability','Gender','Gender_Identity','Multiple_bias_incidents')
crimeLocation <- crimeLocation[6:53,]
crimeTypeByState <-data.frame(c=crimeTypeByState)
colnames(crimeTypeByState) <- c('State','Total_Offenses','Murder_and_nonnegligent_manslaughter','Rape','Aggravated_Assault','Simple Assault','Intimidation','Other','Robbery', 'Burgalry', 
                          'Larceny','Motor_Vehicle_Theft', 'Arson','Destruction/Damage/Vandalism','Other','Crimes_against_society')
crimeTypeByState <- crimeTypeByState[6:57,]
crimeState <- data.frame(c=crimeState)
colnames(crimeState) <- c('State','Agency_Type','Agency_Name','Race/Ethnicity/Ancestry','Religion',
                         'Sexual_Orientation','Disability','Gender','Gender_Identity','FirstQuarter','SecondQuarter','ThirdQuarter','FourthQuarter')
crimeState <- crimeState[6:2629,]
#ACLU Data
antiLgbtq <- data.frame(c=antiLgbtq)
antiLgbtq <-antiLgbtq[0:3]
colnames(antiLgbtq) <-c('State','Bill_Number','Status')
religiousExemption <- data.frame(c=religiousExemption)
religiousExemption <-religiousExemption[0:3]
colnames(religiousExemption) <-c('State','Bill_Number','Status')
preemptingProtection <- data.frame(c=preemptingProtection)
preemptingProtection <- preemptingProtection[0:3]
colnames(preemptingProtection) <-c('State','Bill_Number','Status')
lgbtqEquality <- data.frame(c=lgbtqEquality)
lgbtqEquality<-lgbtqEquality[0:3]
colnames(lgbtqEquality) <-c('State','Bill_Number','Status')

In [6]:
crimeState

     State   Agency_Type
6    Alabama Total
7            Cities
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
...  ...     ...
2600         Nonmetropolitan Counties
2601
2602
2603
2604
2605
2606
2607
2608 Wyoming Total
2609         Cities
2610
2611
2612
2613
2614
2615
2616
2617         Universities and Colleges
2618
2619         Nonmetropolitan Counties
2620
2621
2622
2623 Federal Federal Agencies
2624
2625
2626
2627
2628
2629
     Agency_Name
6
7
8    Abbeville
9    Alexander City
10   Altoona
11   Andalusia2
12   Anniston
13   Arab
14   Bay Minette
15   Birmingham2
16   Bridgeport
17   Camden
18   Centre
19   Cullman
20   Daleville
21   Daphne
22   Decatur
23   Enterprise2
24   Eufaula
25   Fairhope
26   Florala
27   Florence
28   Foley
29   Fultondale
30   Gadsden
31   Gulf Shores2
32   Hoover
33   Jasper
34   Lanett
35   Level Plains
...  ...
2600
2601 Dodge2
2602 Florence
2603 Oneida
2604 Polk
2605 Sauk
2606 Shawano
2607 Taylor
2608
2609
2610 Cheyenne
2611 Cody
2612 Douglas
2613 Newcastle
2614 Riverton
2615 Rock Springs
2616 Sheridan2
2617
2618 University of Wyoming
2619
2620 Johnson
2621 Park
2622 Sheridan
2623
2624 Defense Intelligence Agency
2625 Federal Bureau of Investigation2
2626 Pentagon Force Protection Agency
2627 United States Air Force Security Police
2628 United States Marine Corps Law Enforcement
2629 United States Treasury Inspector General for Tax Administration
     Race/Ethnicity/Ancestry Religion Sexual_Orientation Disability Gender
6    137                     72       32                 5          5
7    88                      62       29                 2          5
8    1                       0        0                  0          0
9    1                       0        1                  0          0
10   1                       0        0                  0          0
11   4                       1        0                  0          0
12   1                       0        1                  0          0
13   1                       0        0                  0          0
14   0                       0        1                  0          0
15   3                       38       4                  1          3
16   1                       0        0                  0          0
17   1                       0        0                  0          0
18   1                       0        0                  0          0
19   2                       0        0                  0          0
20   1                       0        0                  0          0
21   0                       1        1                  0          0
22   1                       0        0                  0          0
23   4                       0        0                  0          0
24   2                       0        0                  0          0
25   0                       1        0                  0          0
26   1                       0        0                  0          0
27   4                       2        2                  0          0
28   1                       0        0                  0          0
29   0                       1        0                  0          0
30   2                       0        0                  0          0
31   8                       0        1                  0          0
32   0                       0        1                  0          0
33   1                       0        0                  0          0
34   1                       0        0                  0          0
35   1                       0        0                  0          0
...  ...                     ...      ...                ...        ...
2600 7                       0        1                  0          0
2601 1                       0        1                  0          0
2602 1                       0        0                  0          0
2603 1                       0        0                  0          0
2604 1                       0        0                  0          0
2605 1                       0        0                  0          0
2606 1                       0        0                  0          0
2607 1                       0        0                  0          0
2608 11                      2        4                  1          1
2609 9                       1        4                  0          0
2610 1                       0        0                  0          0
2611 0                       0        1                  0          0
2612 0                       1        0                  0          0
2613 2                       0        0                  0          0
2614 1                       0        0                  0          0
2615 1                       0        1                  0          0
2616 4                       0        2                  0          0
2617 1                       1        0                  0          0
2618 1                       1        0                  0          0
2619 1                       0        0                  1          1
2620 0                       0        0                  0          1
2621 0                       0        0                  1          0
2622 1                       0        0                  0          0
2623 83                      18       21                 1          1
2624 1                       0        0                  0          0
2625 74                      18       21                 1          1
2626 2                       0        0                  0          0
2627 2                       0        0                  0          0
2628 1                       0        0                  0          0
2629 3                       0        0                  0          0
     Gender_Identity FirstQuarter SecondQuarter ThirdQuarter FourthQuarter
6    4
7    2
8    0               0            1             0            0
9    0               0            0             1            1
10   0               0            1             0            0
11   0               0            2             1            1
12   0               1            0             0            1
13   0               0            1             0            0
14   0               0            0             0            1
15   1               12           17            11           8
16   0               0            0             1            0
17   0                            0             1            0
18   0               0            0             0            1
19   0               1            0             0            1
20   0               0            1             0            0
21   0               0            2             0            0
22   0               1
23   0               0            0             1            2
24   0               1            0             0            1
25   0               0            0             0            1
26   0               0            0             1            0
27   0               2            2             3            1
28   0               0            1             0            0
29   0               0            0             1            0
30   0               0            2             0            0
31   1               1            4             2            1
32   0               0            0             1
33   0               0            0             1            0
34   0               0            1             0            0
35   0               0            1             0            0
...  ...             ...          ...           ...          ...
2600 0
2601 0               0            0             1            0
2602 0               0            1             0            0
2603 0               1            0             0            0
2604 0               0            0             1            0
2605 0               0            0             1            0
2606 0               1            0             0            0
2607 0               0            1             0            0
2608 0
2609 0
2610 0               0            1             0            0
2611 0               0            0             1            0
2612 0               1            0             0            0
2613 0               2            0             0            0
2614 0               0            0             1            0
2615 0               0            2             0            0
2616 0               3            1             1            0
2617 0
2618 0               0            2             0            0
2619 0
2620 0               1            0             0            0
2621 0               0            0             0            1
2622 0               0            0             0            1
2623 2
2624 0               1            0             0            0
2625 2               37           39            31           3
2626 0               2
2627 0               0            0             0            2
2628 0               1            0             0
2629 0               2            1             0            0
     <NA>
6
7
8    2,539
9    14,066
10   913
11   8,643
12   20,913
13   8,437
14   9,647
15   206,476
16   2,258
17   1,667
18   3,624
19   16,696
20   5,075
21   28,387
22   54,240
23   29,240
24   11,489
25   24,467
26   1,882
27   41,325
28   22,166
29   9,365
30   34,613
31   13,421
32   86,514
33   13,177
34   6,014
35   1,944
...  ...
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610 65,263
2611 9,878
2612 6,404
2613 3,293
2614 10,823
2615 22,937
2616 18,157
2617
2618 13,616
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629