In [22]:
df <- data.frame(a = 1:4, b = letters[1:4])
df
df2 = data.frame(states=c('AR', 'KA', 'KY', 'GA'), d = 5:8)
df2

  a b
1 1 a
2 2 b
3 3 c
4 4 d

  states d
1 AR     5
2 KA     6
3 KY     7
4 GA     8

Warning message in Ops.factor(left, right):
"'+' not meaningful for factors"Warning message in Ops.factor(left, right):
"'+' not meaningful for factors"

  a  b
1 NA NA
2 NA NA
3 NA NA
4 NA NA